@use 'utils';

$titleHeight: calc(20px + 3.6vmin);
$subheaderWidth: calc(30px + 18vmin);

.header {
  @extend %trackTheme;
  @extend %flexCenter;
  @extend %floatUp;

  position: relative;

  flex-direction: column;
  height: 20vh;
}

/* Heading */
.header > h1 {
  @extend %trackTheme;
  @extend %clearSpacing;
  font-size: $titleHeight;
}
.header > h1 > hr {
  @include utils.underline-fade(-0.8vh);
}
.header > h1:hover > hr {
  @extend %underlineFadeHover;
}

/* Subheader */
.subheader {
  @extend %flexCenter;

  width: $subheaderWidth;
  justify-content: space-between;
}
.subheader > span {
  @extend %clearSpacing;
  display: inline-block;
  margin-top: 5px;
  white-space: nowrap;

  font-size: calc(6px + 0.8vmin);
}
.subheader > span > hr{
  @include utils.underline-fade();
}
.subheader > span:hover > hr {
  @extend %underlineFadeHover;
}
