@use 'utils';

$vspace: 2.5vh;

/* Track wrapper */
@mixin track-wrapper($height: 25%) {
  height: $height;

  width: 100%;
  margin: 0vh 0vh $vspace;
}
/* Track wrapper */
.track-wrapper {
  @include track-wrapper();
}
.track-wrapper > hr {
  @extend %hrule;
  width: 0%;
}
.track-wrapper:hover {
  background-color: utils.$trackLightGrey2;
}
.track-wrapper:hover > hr {
  @extend %hruleWipe;
}

/* Track */
.track {
  @extend %flexCenter;

  height: 100%;

  flex-direction: row;
  justify-content: space-between;
}
.track-label {
  @extend %flexCenter;
  @extend %clearSpacing;

  width: 15%;
}
.track-stage {
  @extend %flexCenter;
  @extend %clearSpacing;

  width: 20%;
}